body {
    background-color: rgb(248, 69, 69);
    

}
header {
    background-color: rgb(0, 0, 0);
    color: white;
}
h1 {
    background-color: rgb(0, 0, 0);
   font-size: 200%;
   color: white;
}
h2{
    background-color: rgb(0, 0, 0);;
    color: white;
}
article {
    background-color: rgb(248, 69, 69);
    width: 100%;
}
