body {
    background-color: rgb(248, 69, 69);;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    text-align: left;
    font-size: 150%;
    background-image:url(fondo\ manual.png);

}
header {
    color: white;
}
a {
    text-decoration: underline;
    color:white;
}
main{
    display:block;
    margin: 14%;
    margin-top: 0%;
}
h1 {
   background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(48, 47, 47));
   margin: 0%;
   font-size: 200%;
   position: fixed;
   margin-top: 0%;
   top: 0%;
   width: 100%;

}
h2{
    background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(48, 47, 47));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    margin: 0%;
    padding-left: 1.5%;
    ;
}
article {
    background-color: white;
    text-align: left;
    border-radius: 5px;
    margin: 2%;
    margin-left: 5%;
    width: 100%;
    margin-bottom: 4%;
    margin-top: 10%;

}
p{
    margin: 1.5%;
}
#p1 {
    margin-left: 5%;
}
#p2 {
    margin-left: 5%;
}
ul {
    background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(48, 47, 47)) ;
    position:  fixed;
    top: 10%;
    left: 1%;
    color: white;
    border-radius: 5px;
    width:13% ;
    height: 5%;
    text-align: center;
}
