body {
    background-color: rgb(248, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    text-align: left;
    font-size: 150%;
    background-image:url(fondo\ manual.png);
    

}
header {
    background-color: rgb(0, 0, 0);
    color: white;
}
a {
    text-decoration: underline;
    color:white;
}
main{
    display:block;
    margin: 14%;
    margin-top: 0%;
}
h1 {
   margin: 0%;
   font-size: 200%;
}
h2{
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0%;
    padding-left: 1.5%;
    ;
}
article {
    background-color: white;
    text-align: left;
    margin: 2%;
    margin-left: 5%;
    width: 100%;
    margin-bottom: 4%;


}
p{
    margin: 1.5%;
}

ul {
    background-color: rgb(0, 0, 0) ;
    position:  fixed;
    top: 10%;
    left: 1%;
    color: white;

}
